/* css */

* {
  list-style: none;
  text-decoration: none;
}

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
}
ul li {
  margin-right: 30px;
}

/* banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description {
  color: #727272;
}

.btn-primary {
  border-radius: 5px;
  color: #fff;
  padding: 20px 25px;
  background: #ff900e;
  font-size: 1.25rem;
  border: 0;
  cursor: pointer;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}
main {
  max-width: 1340px;
  margin: 0 auto;
}
.teams-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}
.team-text-container {
  padding-left: 70px;
  padding-right: 70px;
}
.team-title {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.team-description {
  color: #727272;
  font-weight: 400;
  line-height: 26px;
}

/* features text */
.features-container {
  margin-top: 60px;
  display: flex;
}
.features-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.features-text {
  color: #727272;
  line-height: 26px; /* 162.5% */
}
.features {
}

/* facts */
.facts-section {
}
.facts-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.fact-text {
  width: 550px;
  color: #727272;
  line-height: 26px; /* 162.5% */
}
.facts-card-container {
  display: flex;
  justify-content: space-between;
}
.fact {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 30px;
  text-align: center;
}
.fact-card-title {
  color: #424242;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
.fact-card-text {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}
.sponsors {
  text-align: center;
  margin-top: 80px;
}
.sponsors-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
}
.sponsors-img img {
  width: 170px;
}
/*  */
/* media query */

/* for header  mobile*/
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container {
    flex-direction: column;
  }
  .nav-title {
    font-size: 20px;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 20px;
  }
  .fact {
    padding: 20px;
  }
  .sponsors-img {
    flex-direction: column;
  }
}

/* for header  tab*/
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 60px;
  }
  .teams-container {
    flex-direction: column;
  }
}

/* for teams section (mobile) */
